body {
    background-color: #0d8640;
    color: #fa1010;
    margin: 0px;
}
header{
    border-bottom: solid 2px rgba(12, 133, 52, 0.514);
    padding: 20px;
    font-size: 32px;
    color: rgb(43, 1, 1);
}
section{
    background: rgb(240, 8, 8);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

footer {
    background-color: black;
    color: rgb(42, 122, 228);
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p{
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
}